body {
 background-image: url("photo-1579548122080-c35fd6820ecb.jpeg");
  }
  
  input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
  input[type=number]{
    width: 50px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  
  }
  
  .page-title {
    margin: 0 0 5px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .page-subtitle {
    font-size: 60px;
    color:papayawhip;
    
  }
  .texto{
    font-size: 40px;
    color: seashell;

  }
  .resultado {
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(255,100,50);
  }
  
  .cod_fonte{
    text-align: left;
    color: yellowgreen;
    
  }

  .colunas{
    display: flex;
    flex-flow: row wrap;
    color: tomato;
  }

  .col1{
    width:50%;
    text-align: left;
    color:rgb(157, 255, 0);
  }
  .col2{
    width:50%;
    color: yellow;
  }

  .comandos{
    float:left;
    width:90%;
    
  }

table {
  border-collapse:collapse;
  border:solid 2px #ff0000;
  width:60%;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

thead tr th {
  text-align:center;
  border-bottom:solid 2px #000000;
  border-left:solid 2px #000000;
}
         
tr td, tr th {
  border:dotted 1px #00ff00;
  text-align: center; 
  vertical-align: middle;
}

tfoot tr td {
  text-align:center;
  border-top:solid 2px #2bff00;
}

#tbZebrada tbody tr:nth-child(2n+1) { background: rgb(51, 255, 0); }
